$primary: rgb(231,59,59);
$primary-light: lighten($primary, 25%);
$primary-dark: darken($primary, 25%);

$secondary: rgb(240, 240, 240);
$secondary-light: lighten($secondary, 25%);
$secondary-dark: darken($secondary, 25%);